h1, h3{
    font-family:serif;
}
.container-fluid{
    padding: 0px!important;
    margin: 0px!important;
}
.contadorRegressivo{
    font-size: 200%;
    height: 10%;
    width: 5%;
    background-color: black;
    color: white;
    margin: 8px;
    align-items: center;
    text-align: center;
}
.contadorLegenda{
    margin-left: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 57px;
    height: 20px;
    align-items: left;
    text-align: center;
}

#countdown_dashboard .dashp {
    border:1px solid white;
    float:left;
    margin: 8px;
    width:80px;
    height: 80px;
    padding:10px;
    background-color: #d1ef71;
}
#countdown_dashboard p {
    font-size:230%;
    color:rgb(24, 24, 24);
    margin: 0px;
    text-align: left;
}
#countdown_dashboard .dashtitle { 
    font-size:11px;
    color:black;
    clear:both;
    display:flex;
}
.paisagem{
    background: url("./images/fundoJulia2.jpeg") no-repeat center center fixed;
    height: 100%;
    min-height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: relative;
}
nav{
    font-size:1.2em;
    font-style: normal!important;
}
@font-face {
    font-family: myFirstFont;
    src: url(./images/Summer\ Clarisa.otf);
  }
  
  #titulo {
    font-family: myFirstFont;
  }

  #sobrenos{
      font-family: myFirstFont;
      font-size: 3rem;
      margin-bottom: 2%;
  }

  @media (min-width:150px){
      #titulo {font-size:4rem;}
  }

  @media (min-width: 544px) {  
    #titulo {font-size:6rem;} /*1rem = 16px*/
  }
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    #titulo {font-size:8rem;} /*1rem = 16px*/
  }
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    #titulo {font-size:10rem;} /*1rem = 16px*/
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    #titulo {font: size 12rem} /*1rem = 16px*/    
  }