img{
    width: 400px; /* You can set the dimensions to whatever you want */
    height: 450px !important;
    object-fit: cover;
}
nav{
    font-size:1.2em;
    font-style: normal!important;
}